.navbar{
    height: 60px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: 1px solid #ddd;
}

.navbar-title{
    font-size: 20px;
    font-weight: 600;
}
.navbar-right{
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile{
    background: #2563eb;
    color: white;
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 14px;
}